<div class="container" *ngIf="product">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="example-card">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ product.title }}</mat-card-title>
            <mat-card-subtitle> {{ product.category }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="product.image" [alt]="product.title" />
          <mat-card-content>
            <p>
              {{ product.description }}
            </p>
            <p>
              {{ product.price | currency }}
            </p>
          </mat-card-content>
        </mat-card>
      </mat-card>
    </div>
  </div>
</div>
