<h2 mat-dialog-title>{{ "ADD_TO_CART" | translate }}</h2>
<form #cartForm="ngForm" (ngSubmit)="onSubmit(cartForm)">
  <mat-dialog-content class="mat-typography">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>{{ "COUNT" | translate }}</mat-label>
        <input
          name="count"
          #count="ngModel"
          ngModel
          matInput
          placeholder="count"
          type="number"
          (input)="getPrice()"
          required
          min="1"
          [max]="data.product.quantity"
        />

        <mat-error
          *ngIf="count.invalid && count.touched && count.errors?.required"
          >{{ "ERROR_MSGS.REQUIRED" | translate }}
        </mat-error>

        <mat-error *ngIf="count.invalid && count.touched && count.errors?.min">
          {{ "ERROR_MSGS.MIN" | translate: { number: 1 } }}
        </mat-error>

        <mat-error *ngIf="count.invalid && count.touched && count.errors?.max">
          {{ "ERROR_MSGS.MAX" | translate: { number: data.product.quantity } }}
        </mat-error>
      </mat-form-field>
    </p>

    <div class="radio">
      <label> {{ "DELIEVER_ADDRESS" | translate }}</label>

      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        name="sameAdress"
        ngModel
      >
        <mat-radio-button class="example-radio-button" value="yes">
          {{ "YES" | translate }}</mat-radio-button
        >
        <mat-radio-button class="example-radio-button" value="no">
          {{ "NO" | translate }}</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <p *ngIf="cartForm.value.sameAdress == 'no'">
      <mat-form-field appearance="outline">
        <mat-label>{{ "NEW_ADSREES" | translate }}</mat-label>
        <input
          name="address"
          #address="ngModel"
          required
          ngModel
          matInput
          placeholder="new address"
          minlength="7"
        />
        <mat-error
          *ngIf="address.invalid && address.touched && address.errors?.required"
          >{{ "ERROR_MSGS.REQUIRED" | translate }}</mat-error
        >
        <mat-error
          *ngIf="
            address.invalid && address.touched && address.errors?.minlength
          "
          >{{ "ERROR_MSGS.MIN_LENGTH" | translate: { number: 7 } }}}
        </mat-error>
      </mat-form-field>
    </p>

    <ng-container *ngIf="cartForm.value.count">
      <div class="price-details">
        <p>
          {{ "ORIGINAL_PRICE" | translate }}
          <span>
            {{ data.product.price * cartForm.value.count | currency }}</span
          >
        </p>

        <p>
          <span>{{ "DEDUCTION" | translate }} {{ deduction | currency }} </span>
        </p>

        <p>
          <span
            >{{ "FINAL_PRICE" | translate }} {{ finalPrice | currency }}
          </span>
        </p>
      </div>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCloseDialog()">
      {{ "CANCEL" | translate }}
    </button>
    <button
      mat-raised-button
      [mat-dialog-close]="true"
      type="submit"
      color="primary"
      [disabled]="cartForm.invalid"
    >
      {{ "SUBMIT" | translate }}
    </button>
  </mat-dialog-actions>
</form>
